<div class="container-fluid">

<!--CONTACTO DEL CURRICULO-->

<div fxLayout="row">

  <div   fxFlex="20" fxLayout="column" fxLayoutAlign="left" class="card ml-0 mt-3" name="card1">
    <div class="mat-card-content" style="max-width:120px;">
      <img src="../../../assets/img/dc.PNG"   class="card-img-top" alt="...">
      <div class="mat-card-flat mt-5" >

        <h1 class="card-title"><span style="font-weight: bold; color: aliceblue"class="badge badge-secondary">CONTACTO</span></h1>
        <div class="mat-card-header"> C/Madrizal 21, 4°2°, Móstoles (Madrid) </div>
        <p class="mat-card-header"> natalia@hotmail.com</p>
        <p class="mat-card-header"> 620 000 000 | 913 000 000 </p>
        <p class="mat-card-header"> www.linkedln.com/natalla </p>
        <p class="mat-card-header"> http://www.cvexpres.com/cvonline/natalia-perez-alcade-8 </p>

        <h1 class="card-title"><span style="font-weight: bold; color: aliceblue"class="badge badge-secondary">IDIOMAS</span></h1>
        <p class="card-text"> Español. nativo</p>
        <p class="card-text"> Ingles </p>
        <p class="card-text"> Francés</p>

        <h1 class="card-title"><span style="font-weight: bold; color: aliceblue"class="badge badge-secondary">INFORMATICA</span></h1>
        <p class="card-text"> Pizarra Digital</p>
        <p class="card-text"> Windowa-Office</p>
        <p class="card-text"> Moodle</p>


      </div>
    </div>
  </div>

  <br>
  <br>

<!--PRESENTACION DE BOMBERA-->
  <div fxLayout="column" class="mt-3">

 <div  class= "jubotron ml-5" fxFlex="25"  >

      <h1 class="card-title ml-4 mt-2" ><span  style="font-size: 55px" fxLayoutAlign="center center"> NATALIA PEREZ ALCALDE </span> </h1>
      <h2 class="card-subtitle mb-2 text-muted" fxLayoutAlign="center"> licenciada en medicina </h2>


</div>

<!--OBJETIVO DEL BOMBERO-->
    <div>
      <div class="mt-3 ml-5">
       <br>
        <br>
        <p> Mi objetivo profesional es trabajar en una instirucion sanitaria en la cual pueda
          desarrollarme y aportar mi formacion y experiencia como Médico de Anteción Primaria.
          Poseo experiencia en atencion primaria al paciente y urgencias medicas pediatricas.
          He desempeñado diversas funciones laborales como medico de general y cordinador de
          personal medico dentro de la sala de urgencias, ademas de visitas medicas a domicilio.</p>
      </div>
    </div>

<!--  FORMACION ACADEMICA-->
    <div  class="card mt-5 md-5 ml-5" name="card2"  style="height: 12vmax;" fxFlex="40">
           <h1 class="card-title"><span style="font-weight: bold; color: cadetblue"class="badge badge-"> FORMACION ACADEMICA </span></h1>
        <p class="card-text"> MASTER EN NUTRICION HUMANA Y DIETETICA APLICADA
                              Universidad Complutense de MAdrid
                               2014-2015</p>

        <p class="card-text"> LICENCIATURA EN MEDICINA
                                Universidad Complutense de Madrid
                                 2010-2014</p>
  </div>

    <div></div>
      <div></div>
    <div></div>

<!--EXPERIENCIA LABORAL-->
    <div class="card mt-3 md-5 ml-5" name="card3"  style="height: 15vmax;">
      <div class="mat-card-flat">
        <h1 class="card-title"><span style="font-weight: bold; color: cadetblue"class="badge badge-">EXPERIENCIA PROFESIONAL</span></h1>
        <p class="card-text"> MEDICO EN URGENCIAS (Hospital Universitario Dr. Peset MAdrid /2017-Actualidad</p>
        <p class="card-text"> Medico en el area de urgencias. Evaluaciones de historias
                              clinicas y examenes fisicos, elaboracion y analiss de examenes preoperatorios</p>

    </div>
  </div>

</div>

</div>

</div>










