

<div fxLayout="row" fxFlex="100" fxLayoutAlign="space-evenly center">
  <div class="card" style="width: 18rem;" fxFlex="30" fxFill>
    <img src="../../../assets/img/bombera.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h1 class="card-title"> KARINA GONZALES </h1>
      <p class="card-text"> BOMBERA (3 Años de experiencia)</p>

      <button [routerLink]="['/nosotro']" type="button" class="btn btn-outline-primary btn-block">
        Ver mas...
      </button>

    </div>
  </div>

  <div class="card" style="width: 18rem;" fxFlex="30">
    <img src="../../../assets/img/doctor.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h1 class="card-title"> SANTIAGO SANCHEZ</h1>
      <p class="card-text"> DOCTOR (1 año y medio de experiencia)</p>
      <a href="#" class="btn btn-primary">Ver mas</a>
    </div>
  </div>


  <div class="card" style="width: 18rem;" fxFlex="30">
    <img src="../../../assets/img/oficionista.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h1 class="card-title"> KALEB NAVARRETE </h1>
      <p class="card-text"> DISEÑADOR GRAFICO (2 años de experiencia) </p>
      <a href="#" class="btn btn-primary">Ver mas</a>
    </div>
  </div>
</div>






