


<h1>  KARINA-BOMBERA</h1>
<img src="../../../assets/img/bombera.png"  fxLayout="column"  fxFlex="45,35"  class="card-img-top" alt="...">
<p fxLayoutAlign="center"><font size="5">  Tengo 3 años de experiencia en este ambito me dedico a extinguir incendios y rescatar personas en dicho caso y otros tipos de siniestros así como intervenir en la prevención de estos eventuales sucesos.
     Realzo mi trabajo mediante bombas hidráulicas, que se utilizaban para sacar agua de pozos, ríos o cualquier otro depósito .
     Ciertamente todo el mundo sabe o cree saber lo que hace un bombero: apagar fuego. Sin embargo, esa solo es una de las muchas labores que puede realizar un bombero en su servicio diario a una ciudad o provincia.
     Los diferentes trabajos que puede realizar un bombero a lo largo de su carrera, son tan variadas que no se pueden definir todas. En lineas generales, un bombero es un profesional del servicio de extinción de
     incendios y salvamento de la ciudad o provincia en la que trabaje, y esto incluye cualquier tipo de siniestro que ocurra y que ponga en peligro vidas o bienes materiales. En la práctica esto incluye todo tipo de emergencias de mayor o menor grado, que requieren
                                de los medios y tecnicas de los bomberos para su resolución. </font> </p>
